{% extends "layout.html" %}

{% block content %}
    
  <div class="jumbotron text-center">
    <h1>MAM Property Management</h1>
    <p>Welcome to MAM Property Management</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="//img1.wsimg.com/isteam/stock/3Dz27la/:/rs=w:223,h:223,cg:true,m/cr=w:223,h:223" >
        <h3>Complete Tentant Management</h3>
        <p>As your property management company, we deal with tenant issues, collect rent, handle maintenance and repairs, and qualify new tenants. You get peace of mind knowing your investment is in good hands.  </p>
      </div>
      <div class="col-sm-4">
        <img src="//img1.wsimg.com/isteam/stock/gY06drK/:/rs=w:223,h:223,cg:true,m/cr=w:223,h:223" >
        <h3>Get Your Time Back</h3>
        <p>If your business is growing, or if you own a lot of properties, hire a property management company. Leave the day-to-day management to us and have more time for the things you want.</p>
      </div>
      <div class="col-sm-4">
        <img src="//img1.wsimg.com/isteam/stock/87356/:/rs=w:223,h:223,cg:true,m/cr=w:223,h:223" >
        <h3>Real Estate Rules & Regulations</h3>
        <p>If you have questions about affordable housing programs, grants, leasing, repairs, or tax credits, rely on our property management services to ensure everything goes smoothly.</p>
      </div>
    </div>
  </div>
  <!--Table-->
  <table class="table">
    <!--Table head-->
    <thead class="blue-grey lighten-4">
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phonenumber</th>
    </tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Victoria</td>
      <td>Marshall</td>
      <td>vmarshall@mam.com</td>
      <td>732-987-0726</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Jones</td>
      <td>jjones@mam.com</td>
      <td>732-987-0983</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>Bryant</td>
      <td>lbryant@mam.com</td>
      <td>732-987-0981</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Jane</td>
      <td>Kraiser</td>
      <td>jkraiser@mam.com</td>
      <td>732-987-0987</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Khalfani</td>
      <td>Otchere</td>
      <td>kotchere@mam.com</td>
      <td>732-987-1020</td>
    </tr>
  </table>
{% endblock %}
